* {
    margin: 0;
    padding: 0;
}

.index{
  background-color: rgb(233, 180, 111);
}


/* mobile first Desgin*/
.container{
  display: flex;
  justify-content: center;
  background-color: grey;
  padding: 20px;
}

.navbar-links{
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  align-items: center;
}


.image{
  display: flex;
  justify-content: column;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}

.image img{
  max-width: 220px;
  width: 100%;
}

.text{
  margin-top: 30px;
  text-align: center;
  padding: 20px;
}

/* about section*/
.about h2{
   text-align: center;
}

.about-section {
  display: grid;
  gap: 20px;
  justify-content: center;
  padding: 30px;
  text-align: center;
}

.about-grid {
  background-color: beige;
  width: 100%;
  padding: 25px;
  border-radius: 30px;
  margin: auto;
  max-width: 90px;
}

/* project section*/
.Projects{
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  padding: 90px;
} 

.projects-card{
  background-color:rgb(209, 222, 218);
  padding: 30px;
  border-radius: 15px;
  border-left: 5px solid #2196f3;
}

/* skil section*/
.skills h2{
  text-align: center;
  margin-bottom: 70px;
}

.skills-grid{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
  
.skill-box{
  background-color: beige;
  padding: 15px;
  text-align: center;
  border-radius: 6px;
  font-weight: bold;
}

/* contact section*/
 .contact{
  background-color: rgb(123, 187, 207);
  max-width: 350px;
  padding: 20px;
  margin: auto;
}

.submit-btn{
   background-color: green;
   color: white;
   width: 100%; 
}

/* tablet desgin*/

@media(min-width: 768px) {
  .index{
  background-color: rgb(125, 233, 111);
}

  .navbar-links {
    flex-direction: row;
    gap: 30px;
  }

  .image {
    flex-direction: row;
    justify-content: center;
  }

  .text {
    max-width: 400px;
  }

  .about-grid{
   max-width: 250px;
  }

  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    margin: auto;
  }

  .contact {
    max-width: 400px;
    background-color: rgb(125, 233, 111);
  }
}

/* laptop desgin*/
@media(min-width: 1024px) {
  .index{
  background-color: rgb(227, 164, 223);
}
  .image img {
    max-width: 250px;
  }

  .text {
    max-width: 500px;
  }

  .about-section {
    padding: 100px;
  }

  .about-grid {
    max-width: 600px;
    border-radius: 150px;
  }

  .projects-grid {
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
  }

  .skills-grid {
    grid-template-columns: repeat(2, 200px);
    gap: 50px;
  }

  .contact {
    background-color: rgb(227, 164, 223);
    max-width: 450px;
  } 
}